@model GithubVS2012Test.Domain.PersonList

@{
    ViewBag.Title = "ShowAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowAll</h2>

<fieldset>
    <legend>PersonList</legend>
    @foreach (var person in Model)
    {
        @Html.LabelFor(name => person.Name);
        @Html.DisplayFor(name => person.Name)
        @Html.LabelFor(saying => person.Saying);
        @Html.DisplayFor(saying => person.Saying)
    }

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
